.infoRecipe {
  background-color: #efe6da;
  padding: 50px 0;
}

.infoPost {
  margin: 20px 0;
  padding: 0;
}

.comment {
  margin-top: 60%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

@media (max-width: 1200px) {
  .comment {
    margin-top: 40%;
  }
}

@media (max-width: 767px) {
  .comment {
    margin-top: 10%;
  }
}

@media (max-width: 690px) {
  .infoRecipe {
    max-width: 700px;
  }
}
