.date {
  font-size: 40px;
  font-weight: bold;
  color: #5c5c68;
  margin-bottom: 15px;
}

.meta {
  position: relative;
  color: #828282;
  font-size: 15px;
  line-height: 22px;
}

.meta:after {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  height: 2px;
  width: 82px;
}
